/*================================*/
/*Calendar.html*/
/*================================*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
@import url("/css/header.css");
@import url("/css/rootStyle.css");
*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {

  --c-white: #fff;
  --c-black: #000;


  --c-titan-white: #f1eeff;
  --c-cold-purple: #a69fd6;
  --c-indigo: #6558d3;
  --c-governor: #4133B7;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--c-ash);
}


button {
    font: inherit;
    line-height: 1;
    background-color: var(--c-white);
    border: 2px solid var(--c-indigo);
    color: var(--c-indigo);
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    &:hover,
    &:focus {
      background-color: var(--c-indigo);
      color: var(--c-white);
    }
  }

.divCalendarWrap{
    width: 90%;
    margin: 60px auto;
    overflow: hidden;
}

#divCalendar{
    width: 50%;
    float:left;

}
#divCalendarInfo{ 
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(#4133B7, .25);
    width: 50%;
    float: right;
    background-color: #A6BFFF;
    text-align: center;
    padding-bottom: 10px;
}
#divCalendarInfo table{
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-bottom: 10px;
}
#divCalendarInfoYear, #divCalendarInfoDate{
    text-align: center;
}



/* 달력 테이블 ------------------- */
#tableCalendar{
    margin: 10 auto;
    padding: 20px 0 20px 0;
    width: 80%;
    height: 550px;
    table-layout: fixed;
}
#tableCalendar th{
    font-size: 20px;
}
#tableCalendar button{
    width: 50px;
    
    font-size: 30px;
    font-weight: bold;
    -webkit-transition: color 0.6s;
    transition: color 0.6s;
    border: solid 4px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #37474f;
    text-align: center;
}
#tableCalendar button::before{
    content: '';
    box-shadow: inset 0 0 0 35px #37474f;
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
    -webkit-transition: box-shadow 0.6s, -webkit-transform 0.6s;
    transition: box-shadow 0.6s, transform 0.6s;
}
#tableCalendar button:hover{
    color: #37474F;
    background: none;
}
#tableCalendar button:hover::before{
    box-shadow: inset 0 0 0 2px #37474f;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
/**/
#tableCalendar tbody td{
    cursor: pointer;
    text-align: center;
    /*height: 50px;*/
}
.calYearTd{
    text-align: center;
}
.calMonthTd{
    text-align: center;
}
.calDayTh{
    height: 80px;
}
#calMonth{
    font-size: 30pt;
}
.choiceDay{
    color: #FFFFFF;
    background-color: #37474F;
    padding: 4px 6px 4px 6px;
    border-radius: 50px;
    font-weight: bold;
    border: solid 4px #37474F;
    text-decoration-color: #FFFFFF !important;
}
.today{
    text-decoration: underline #37474F solid 4px;
    padding: 4px 6px 4px 6px;
}
.sunday{
    color: #DE4040 !important;
    border-radius: 50px;
    padding: 4px 6px 4px 6px;
}
.saturday{
    color: #406DDE !important;
    border-radius: 50px;
    padding: 4px 6px 4px 6px;
}
#tableCalanderInfo th{
    color:var(--c-cold-purple)
}

/* 달력 날짜 선택시 추가 정보 ------------- */
#divCalendarInfo h3{
    font-size: 15pt;
}
#divCalendarInfo h2 {
    font-size: 25pt;
}
#divCalendarInfo table th, #divCalendarInfo table td{
    padding: 9px;
    
}


/* 선택 날짜에 따른 의약품 목록 보이기 ----- */
.notShow{
    display: none;
}

.show{
    display: contents !important;
}
