:root {

    --c-white: #fff;
    --c-black: #000;
    font-size: 20px;
  
    --c-titan-white: #f1eeff;
    --c-cold-purple: #a69fd6;
    --c-indigo: #6558d3;
    --c-governor: #4133B7;
  }

.top_bar{
    background:var(--c-cold-purple);
    position:fixed;
    left:0;top: 0;right:0;
    height: 50px;
    
    justify-content: space-between;
   

    .right{

        float: right;
    }
    margin-bottom: 100px;
}
.top_bar ul{
  width: 70%;
  margin: auto;
}
.top_bar ul>li{
  display: -webkit-inline-box;
  margin-left: 20px;
}

header{
  margin: 0 auto;
  padding: 10px;
  width: 100% ;
}


#btnHome,#btnHomeToCalendar, #btnHomeToMedicineBox, #btnHomeToPharmacy, #btnHomeToChat,#btnMyPage{
    margin: 0px 20px;
    color: var(--c-white);
    &:hover,
    &:focus {
      color: var(--c-governor);
      font-style: bold ;
    }
}
#btnHomeToLogin,#btnHomeToSignup{
    font: inherit;
    line-height: 1;
    background-color: var(--c-white);
    border: 2px solid var(--c-indigo);
    color: var(--c-indigo);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    &:hover,
    &:focus {
      background-color: var(--c-indigo);
      color: var(--c-white);
    }
  }