@import url("/css/rootStyle.css");

.top_bar{
    background:var(--c-cold-purple);
    position:fixed;
    left:0;top: 0;right:0;
    height: 50px;
    
    justify-content: space-between;
   

    .right{

        float: right;
    }
    margin-bottom: 100px;
}
header ul{
  width: 70%;
  margin: 10px auto;
}
.top_bar ul>li{
  display: inline-block;

}




#btnHome,#btnHomeToCalendar, #btnHomeToMedicineBox, #btnHomeToPharmacy, #btnHomeToChat,#btnMyPage{
    margin: 0px 20px;
    color: var(--c-white);
    &:hover,
    &:focus {
      color: var(--c-governor);
      font-style: bold ;
    }
    
}
#btnHomeToLogin,#btnHomeToSignup{
    font: inherit;
    line-height: 1;
    background-color: var(--c-white);
    border: 2px solid var(--c-indigo);
    color: var(--c-indigo);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    &:hover,
    &:focus {
      background-color: var(--c-indigo);
      color: var(--c-white);
    }
  }