@import url("/css/header.css");
@import url("/css/rootStyle.css");
body{
    background:white;
  }
  
  .container{
    display:block;
    max-width:680px;
    width:80%;
    margin:120px auto;
  }
  
  h1{
    color:black;
    font-size:48px;
    letter-spacing:-3px;
    text-align:center;
    margin:120px 0 80px 0 ;
    transition:.2s linear;
  }
  
input{
    display:block;
    width:50%;
    max-width:680px;
    margin:0px auto;
    height:50px;
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
    border-radius:8px;
    line-height:40px;
    border-color: black;
}

  form{
    width:100%;
    max-width:680px;
    margin:40px auto 10px;
    .input__block{
       margin:20px auto;
       display:block;
       position:relative;
       &.first-input__block{
          &::before{
            content:"";
            position:absolute;
            top:-15px;
            left:50px;
            display:block;
            width:0;
            height:0;
          background:transparent;
            border-left:15px solid transparent;
            border-right:15px solid transparent;
            border-bottom:15px solid rgba(#0f132a,.1);
            transition:.2s linear;
          }
       }
  }
  
  .sign__up{
     display:block;
     width:50%;
     max-width:680px;
     margin:20px auto;
     height:50px;
     cursor:pointer;
     font-size:14px;
     font-family: 'Montserrat', sans-serif;
     border-radius:8px;
     border:none;
     line-height:40px;
     &.sign__up{
        background:#5b90f0;
        color:white;
        box-shadow:0 15px 30px rgba(#5b90f0,.36);
        transition:.2s linear;
        .fa{
            font-size:20px;
            padding:0 5px 0 0 ;
        }
       &:hover{
         box-shadow:0 0 0 rgba(#5b90f0,.0);
       }
     }
    }
}