@import url("/css/rootStyle.css");

  #divMedicineInfo{ 
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px var(--c-cold-purple);
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: #A6BFFF;
    text-align: center;
    padding-bottom: 10px;
}

table{
    margin: 0 auto;
}
