<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/calendar/add}" th:object="${calendarCreateForm}" method="POST">
        <label for="medicine">Medicine</label><input type="text" th:field="*{medicine}" id="medicine" class="addForm" name="medicine"><br>
        <label for="startdate">시작 날짜</label><input type="date" th:field="*{startdate}" id="startdate" class="addForm"><br>
        <label for="finishdate">시작 날짜</label><input type="date" th:field="*{finishdate}" id="finishdate" class="addForm"><br>
        <label for="detail1">아침</label><input type="checkbox" th:field="*{detail1}" id="detail1" name="detail" value="detail1" class="addForm">
        <label for="detail2">점심</label><input type="checkbox" th:field="*{detail2}" id="detail2" name="detail" value="detail2" class="addForm">
        <label for="detail3">저녁</label><input type="checkbox" th:field="*{detail3}" id="detail3" name="detail" value="detail3" class="addForm"><br>
        <label for="detail4">식전 30분</label><input type="checkbox" th:field="*{detail4}" id="detail4" name="detail" value="detail4" class="addForm">
        <label for="detail5">식후 30분</label><input type="checkbox" th:field="*{detail5}" id="detail5" name="detail" value="detail5" class="addForm"><br>
        <label for="medicine">메모</label><textarea th:field="*{memo}" rows="2" cols="30" maxlength="250"></textarea><br>
        <button type="submit">추가</button>
        <button type="button" onclick="location.href='/calendar/'">취소</button>
    </form>
</body>
</html>