<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/calendarStyle.css">
    <script src="/js/scriptCalMonthChange.js"></script>
    <title>Calendar</title>
</head>
<body>
<div class="divCalendarWrap">
    <div id="divCalendar">
        <table class="cal">
            <thead>
                <tr>
                    <td colspan="7" class="calYearTd"><span id="calYear"></span></td>
                </tr>
                <tr>
                    <td onclick="calPrev();"><button>&#60;</button></td>
                    <td colspan="5" class="calMonthTd"><span id="calMonth"></span></td>
                    <td onclick="calNext();"><button>&#62;</button></td>
                </tr>
                <tr class="calDayTh">
                    <th>SUN</th>
                    <th>MON</th>
                    <th>TUE</th>
                    <th>WED</th>
                    <th>THU</th>
                    <th>FRI</th>
                    <th>SAT</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="divCalendarInfoWrap" sec:authorize="isAuthenticated()">
        <div id="divCalendarInfo">
        </div>
        <p>DB 연결해서 정보 출력</p>
        <p>/calendar/add로 이동</p>
        <button type="button" onclick="location.href='/calendar/add'">+</button>
    </div>
</div>
</body>
</html>