<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/css/button.css">
    <style>
        h1{
            text-align: center;
        }
        h2{
            padding-left: 1%;
        }
        #buttons{
            text-align: center;
        }
    </style>
</head>
<body>
<button id="btnChatToHome" type="button" onclick="location.href='/home/'"> < </button>
<h1>Q&A Categories</h1>
<div>
    <div id="buttons">
        <button class="button district" onclick="showCategory('회원 정보')">회원 정보</button>
        <button class="button district" onclick="showCategory('약국')">약국</button>
        <button class="button district" onclick="showCategory('폐의약품')">폐의약품</button>
        <button class="button district" onclick="showCategory('달력')">달력</button>
        <button class="button district" onclick="showCategory('기타')">기타</button>
    </div>
    <hr>
    <div class="qa-list" id="회원 정보">
        <h2>회원 정보</h2>
        <ul>
            <li>
                <strong>Q: 회원가입은 어떻게 하나요?</strong>
                <p>A: 회원가입을 위해서는 홈페이지 우측 상단에 있는 '회원 가입' 버튼을 클릭하고 필요한 정보를 입력하세요.</p>
            </li>
            <li>
                <strong>Q: 비밀번호를 분실했어요. 어떻게 찾을 수 있나요?</strong>
                <p>A: 비밀번호를 분실하셨다면, '비밀번호 찾기' 옵션을 선택하고 이메일 주소를 입력하세요. 비밀번호 재설정 링크가 이메일로 발송될 것입니다.</p>
            </li>
        </ul>
    </div>

    <div class="qa-list" id="약국">
        <h2>약국</h2>
        <ul>
            <li>
                <strong>Q: 주변 약국을 어떻게 찾을 수 있나요?</strong>
                <p>A: 저희 애플리케이션에서는 사용자의 위치 정보를 활용하여 주변 약국을 자동으로 찾아줍니다. 약국 찾기 페이지에서 주변 약국을 확인할 수 있습니다.</p>
            </li>
            <li>
                <strong>Q: 약국의 운영시간은 어떻게 확인할 수 있나요?</strong>
                <p>A: 약국 정보에는 약국의 운영시간이 포함되어 있습니다. 약국 찾기 페이지에서 원하는 약국을 지도에서 클릭하면 운영시간을 확인할 수 있습니다.</p>
            </li>
            <li>
                <strong>Q: 약국의 전화번호는 어디에서 확인할 수 있나요?</strong>
                <p>A: 약국 찾기 페이지에서 원하는 약국을 지도에서 클릭하면 전화번호를 확인할 수 있습니다.</p>
            </li>
        </ul>
    </div>

    <div class="qa-list" id="폐의약품">
        <h2>폐의약품</h2>
        <ul>
            <li>
                <strong>Q: 수거함을 어떻게 찾을 수 있나요?</strong>
                <p>A: 폐의약품 수거함 찾기에서 수거함 위치를 확인하실 수 있습니다.</p>
            </li>
            <li>
                <strong>Q: 수거함이 있는 지역은 어디인가요?</strong>
                <p>A: 대구 지역에서만 제공됩니다. 사용자의 위치에 따라 수거함이 있는 지역을 확인할 수 있습니다.</p>
            </li>
        </ul>
    </div>

    <div class="qa-list" id="달력">
        <h2>달력</h2>
        <ul>
            <li>
                <strong>Q: 달력에 증상과 메모를 어떻게 입력하나요?</strong>
                <p>A: 달력 탭에서 원하는 날짜를 선택하고, 입력창을 통해 증상과 메모를 입력할 수 있습니다. 입력한 내용은 해당 날짜에 기록되어 표시됩니다.</p>
            </li>
            <li>
                <strong>Q: 약 복용에 관련된 유의사항은 어디에서 확인할 수 있나요?</strong>
                <p>A: 의약품 정보 입력 시 제품의 안내문이나 약사의 지시사항을 참고하여 복용에 관련된 유의사항을 확인하실 수 있습니다.</p>
            </li>
        </ul>
    </div>

    <div class="qa-list" id="기타">
        <h2>기타</h2>
        <ul>
            <li>
                <strong>Q: 관리자와의 1:1 채팅을 어떻게 시작할 수 있나요?</strong>
                <p>A: 1:1 채팅을 원하신다면, QnA 게시판의 하단에 위치한 버튼을 클릭하여 질문을 입력하면 관리자와 채팅을 시작할 수 있습니다.</p>
            </li>
        </ul>
    </div>
    <script src=/js/scriptChat.js></script>
</div>
</body>
</html>