<table>
    <th>    
        <td><a type="button" id="btnHome" onclick="location.href='/home/'">HOME </a></td>
        <td><a  id="btnHomeToCalendar" type="button" onclick="location.href='/calendar/'">달력</a></t>
        <td><a  id="btnHomeToMedicineBox" type="button" onclick="location.href='/medicineBox/'">지도-수거함</a></td>
        <td><a id="btnHomeToPharmacy" type="button" onclick="location.href='/pharmacy/'">지도-약국</a></td>
        <td><a id="btnHomeToChat" type="button" onclick="location.href='/chat/'">Q&A</a></td>
        <td><a id="btnMyPage" type="button" onclick="location.href='/profile/'">마이페이지</a></td>
        <td><button id="btnHomeToLogin" sec:authorize="isAnonymous()" type="button" onclick="location.href='/user/login'">로그인</button>
            <button id="btnHomeToSignup" sec:authorize="isAuthenticated()" type="button" onclick="location.href='/user/logout'">로그아웃</button></t>
        
    </th>
   </table>