<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Log In</title>
</head>
<body>
    <header class="top_bar">
        <ul>    
            <li><a type="button" id="btnHome" onclick="location.href='/home/'">HOME </a></li>
            <li><a  id="btnHomeToCalendar" type="button" onclick="location.href='/calendar/'">달력</a></li>
            <li><a  id="btnHomeToMedicineBox" type="button" onclick="location.href='/medicineBox/'">지도-수거함</a></li>
            <li><a id="btnHomeToPharmacy" type="button" onclick="location.href='/pharmacy/'">지도-약국</a></li>
            <li><a id="btnHomeToChat" type="button" onclick="location.href='/chat/'">Q&A</a></li>
            <li><a id="btnMyPage" type="button" onclick="location.href='/profile/'">마이페이지</a></li>
            <li><button id="btnHomeToLogin" sec:authorize="isAnonymous()" type="button" onclick="location.href='/user/login'">로그인</button>
                <button id="btnHomeToSignup" sec:authorize="isAuthenticated()" type="button" onclick="location.href='/user/logout'">로그아웃</button></li>
            
        </ul>
    </header>

    <h1>Log In</h1>
    <form method="post" th:action="@{/user/login}">
        <label for="id"></label><input type="text" id="username" class="loginForm" name="username" placeholder="ID"><br>
        <label for="pw"><input type="password" id="password" class="loginForm" name="password" placeholder="PW"><br>
        <button type="submit" class="sign__up">로그인</button>
        <button type="button" onclick="location.href='/user/signup'" class="sign__up">회원가입</button>
    </form>
</body>
</html>