<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <title>Sign Up</title>
</head>
<body>
    <button type="button" onclick="location.href='/user/login'"> < </button>
    <h1>Sign Up</h1>
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post" >
        <label for="id"></label><input type="text" th:field="*{id}" class="signupForm" placeholder="ID"><br>
        <label for="pw"></label><input type="text" th:field="*{pw}" class="signupForm" placeholder="PW"><br>
        <label for="name"></label><input type="text" th:field="*{name}" class="signupForm" placeholder="이름"><br>
        <button type="submit" class="sign__up">가입</button>
    </form>
</body>
</html>