<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/signup" >
        <label for="id">ID</label><input type="text" id="id" class="signupForm"><br>
        <label for="pw">PW</label><input type="text" id="pw" class="signupForm"><br>
        <label for="name">이름</label><input type="text" id="name" class="signupForm"><br>
        <label for="location">사용자 위치 정보 사용 동의</label><input type="checkbox" id="location">
        <button type="submit">가입</button>
    </form>
</body>
</html>